@page "/products/create"
@inject BlazorServerCrud.Data.AppDbContext _context

<PageTitle>Create Product</PageTitle>

<h1>New Product</h1>

<EditForm Model="@_product" OnSubmit="HandleSubmitAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <InputText class="form-control" type="text" @bind-Value="_product!.Name" id="Name"/>
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <InputText class="form-control" type="text" @bind-Value="_product!.Description" id="Description"/>
    </div>

    <div class="mb-3">
        <label for="Price" class="form-label">Price</label>
        <InputText class="form-control" type="text" @bind-Value="_product!.Price" id="Price"/>
    </div>

    <button type="submit">Submit</button>
</EditForm>

@code
{
    Product _product = new();

    protected override async Task OnInitializedAsync() 
    {

    }

    async Task HandleSubmitAsync()
    {
        _context.Products.Add(_product);
        _context.SaveChangesAsync();
    }
}