@page "/products/create"
@using Microsoft.EntityFrameworkCore
@inject BlazorServerCrud.Data.AppDbContext _context
@inject NavigationManager NavManager

<PageTitle>Create Product</PageTitle>

<h1>New Product</h1>

<ProductComponent SubmitMethod="HandleSubmit" LoadCategories="GetCategories">
 
</ProductComponent>

@code
{
    private Product GetProduct() => new Product { CategoryId = 1 };
    private List<Category> GetCategories() => _context.Categories.AsNoTracking().ToList();

    void HandleSubmit(Product _product)
    {
        _context.Products.Add(_product);
        _context.SaveChanges();
        NavManager.NavigateTo("/products");
    }
}