@page "/products/create"
@using Microsoft.EntityFrameworkCore
@inject BlazorServerCrud.Data.AppDbContext _context
@inject NavigationManager NavManager

<PageTitle>Create Product</PageTitle>

<h1>New Product</h1>

<EditForm Model="@_product" OnSubmit="HandleSubmitAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <InputText class="form-control" type="text" @bind-Value="_product!.Name" id="Name"/>
    </div>

    <div class="mb-3">
        <label for="Price" class="form-label">Price</label>
        <InputNumber class="form-control" @bind-Value="_product!.Price" id="Price"/>
    </div>

    <InputSelect class="form-select" @bind-Value="_product!.CategoryId">
        @foreach(var category in _categories)
        {
            <option value="@category.Id">@category.Name</option>
        }
    </InputSelect>

    <button type="submit">Submit</button>
</EditForm>

@code
{
    Product _product = new();

    List<Category> _categories = new();

    protected override async Task OnInitializedAsync() => _categories = await _context.Categories.ToListAsync();

    async Task HandleSubmitAsync()
    {
        _context.Products.Add(_product);
        _context.SaveChangesAsync();
        NavManager.NavigateTo("/products");
    }
}