@page "/products"
@using Microsoft.EntityFrameworkCore;
@inject BlazorServerCrud.Data.AppDbContext _context

<PageTitle>Products</PageTitle>

<h1>List of the products</h1>

<a href="products/create" class="btn btn-primary">Create a new Product</a>

@if(_products.Any())
{
 <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody>

        @foreach(var product in _products) 
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price.ToString("00.00")</td>
                <td>@product.CategoryId</td>
                <td><a href="/products/edit/@product.Id">Edit</a></td>
                <td><a href="/products/delete/@product.Id">Delete</a></td>
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    List<Product> _products = new();

    protected override async Task OnInitializedAsync() => _products = await _context.Products.AsNoTracking().ToListAsync();
}

