@page "/products"
@using Microsoft.EntityFrameworkCore;
@inject BlazorServerCrud.Data.AppDbContext _context

<PageTitle>Products</PageTitle>

<h1>List of the products</h1>

@code
{
    List<Product> _products = new();

    protected override async Task OnInitializedAsync() => await _context.Products.AsNoTracking().ToListAsync();
}

